.navbar{
    background-color: rgba(209, 23, 23, 1);
}
.btn{
    background-color:rgba(166, 6, 6, 1);
}
.register{
    background-color: rgba(209, 23, 23, 1);
    margin-left: 12%;
}
.foooter{
    background-color: rgba(209, 23, 23, 1);
}
.card{
    background-color: rgba(209, 23, 23, 1);
}
.category{
    background-color: rgba(209, 23, 23, 1);
    margin-left: 12%;
}